@import "tailwindcss";

:root {
  --color-primary: #ffffff;     /* White */
  --color-accent: #c72c18;      /* Red Accent */
  --color-muted: #878c91;       /* Grey Muted */
  --color-dark: #010205;        /* Almost Black */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #ffffff;     /* White */
  --color-accent: #c72c18;      /* Red Accent */
  --color-muted: #878c91;       /* Grey Muted */
  --color-dark: #010205;
}


body {
  background: var(--color-primary);
  color: var(--color-dark);
  font-family: 'Satoshi', sans-serif;               
}

.bg{
  background-image: url(/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
